
.vs/SistemaTurnos/v15/Server/sqlite3/storage.ide-wal
.vs/SistemaTurnos/v15/Server/sqlite3/storage.ide
.vs/SistemaTurnos/v15/Server/sqlite3/db.lock
.vs/SistemaTurnos/v15/Server/sqlite3/storage.ide-shm
.vs/SistemaTurnos/v15/.suo
.vs/config/applicationhost.config
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.dll
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.dll
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.runtimeconfig.dev.json
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.dll
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.dll
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.dll
*.dll
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.pdb
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.runtimeconfig.dev.json
SistemaTurnos.WebApplication/Database/ApplicationDbContext.cs
SistemaTurnos.WebApplication/bin/Debug/netcoreapp2.0/SistemaTurnos.WebApplication.dll
